body {
    font-family: "Lato";
    color: #56565A;
}
html body *,
.top-bar-section ul li > a {
    font-family: inherit;
}

body > header {
    background: RGB(87, 89, 93);
    background: RGBA(87, 89, 93, 0.95);
    color: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin: 1.5em 0;
    color: #56565A;
}

a {
    color: #48bee6;
}
main a {
    text-decoration: underline;
}
.content {
    max-width: 800px;
    margin: 0 auto;
}

.ratio {
    height: 0;
    padding-bottom: 40%;
    position: relative;
}
.ratio-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.ratio.ratio-square {
    padding-bottom: 100%;
}

.banner {
    border-bottom: 10px solid #56565A;
}

.lede {
    font-size: 1.3em;
    line-height: 1.6;
    font-weight: 900;
}

footer {
    background: #56565A;
    color: #ccc;
    padding: 2em 0;
}
footer p {
    font-size: 0.8em;
}
header .top-bar,
.top-bar-section ul li,
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar .toggle-topbar.menu-icon a {
    background: none;
}

.top-bar .toggle-topbar.menu-icon a span::after {
    -webkit-box-shadow: 0 0 0 1px #333,
                0 7px 0 1px #333,
                0 14px 0 1px #333;
    box-shadow: 0 0 0 1px #333,
                0 7px 0 1px #333,
                0 14px 0 1px #333;
}
.top-bar .name h1 a {
    width: 70%;
}


.top-bar.expanded .toggle-topbar a {
    color: #eee;
}


main section {
    padding: 3em 1.5em;
}

main p {
    line-height: 1.6;
}

.name a {
    display: block;
    background: white;
}
.name img {
    height: 2.5rem;
}


.acordos {
    text-align: center;
    font-size: 0;
}
.acordos img {
    max-height: 50px;
    width: auto;
}
.acordos li {
    font-size: 16px;
    display: inline-block;
    list-style: none;
    width: 14%;
    margin-bottom: 1.5em;
}

.especialidades.row {
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 0;
}

.especialidades li {
    line-height: 1;
    margin-bottom: 1em;
}


/* small */
.especialidades li {
    text-align: center;
}

.acordos li {
    width: 50%;
}


/* medium */
@media only screen and (min-width: 40.063em) {
    .especialidades li:nth-child(2n) {
        text-align: left;
    }
    .especialidades li:nth-child(2n+2) {
        text-align: right;
    }
    .especialidades li:nth-child(2n+1) {
        text-align: left;
    }
    .acordos li {
        width: 25%;
    }

    .top-bar .name h1 a {
        width: auto;
    }
}

/* large */
@media only screen and (min-width: 64.063em) {
    .especialidades li:nth-child(3n) {
        text-align: right;
    }
    .especialidades li:nth-child(3n+2) {
        text-align: center;
    }
    .especialidades li:nth-child(3n+1) {
        text-align: left;
    }

    .acordos li {
        width: 14%;
    }
}
